# 07 Independent Lab: Manipulating Data

Author: Mark Lannen<br>
Course: BGEN632 Grad. Intro. to Python<br>
Term: Spring 2025<br>

## Import Pandas, set working directory and load hospital and personell data

In [4]:
import pandas as pd
import os

os.chdir("/Users/markl1/Documents/Studies/Grad_School-MBA/Spring_2025/Python/week7labs/data")

hospital_dataframe = pd.read_csv("CaliforniaHospitalData.csv")
# hospital_dataframe
personnel_dataframe = pd.read_csv("CaliforniaHospitalData_Personnel.txt")
# personnel_dataframe

   HospitalID\tWork_ID\tLastName\tFirstName\tGender\tPositionID\tPositionTitle\tCompensation\tMaxTerm\tStartDate\tPhone\tEmail
0   35665\t351131\tCherukuri\tDileep\tM\t4\tSafety...
1   12145\t756481\tRodriguez\tJose\tM\t1\tRegional...
2   45771\t756481\tRodriguez\tJose\tM\t1\tRegional...
3   43353\t756481\tRodriguez\tJose\tM\t4\tSafety I...
4   17718\t811240\tCharles\tKenneth\tM\t1\tRegiona...
..                                                ...
59  33283\t704360\tFrank\tVernon\tM\t1\tRegional R...
60  33242\t704360\tFrank\tVernon\tM\t4\tSafety Ins...
61  46342\t768057\tTanner\tPatricia\tF\t3\tActing ...
62  43437\t768057\tTanner\tPatricia\tF\t1\tRegiona...
63  29823\t768057\tTanner\tPatricia\tF\t3\tActing ...

[64 rows x 1 columns]